@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input[type="text"]::placeholder,
textarea::placeholder {
    background-color: transparent;
}

@font-face {
  font-family: "Font1";
  src: url("/Public/Font1") format("truetype");
}
